@media(min-width:600px){

.top_navbar{
    box-shadow: 0 0 50px gray !important;
}

#top_actions_section{
    display: flex !important;
    align-items: center !important;
}




}
.user_list_item.active .user_list_arrow_icon{

    transform: rotate(180deg);
   
}


.user_list_item.active {
    background-color: rgb(208, 202, 195);
}
.user_list_item.active .collapsible-header {
    background-color: rgb(153, 152, 150);
}

table.highlight > tbody > tr:hover {
  background-color: #bbdefb;
}

.container{

    width: 100% !important;
}



.add_user_modal_back{


    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(71, 69, 69, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}


.add_user_modal{

    position: fixed;
    height: 70vh;
    bottom: -70vh;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;


}

.add_user_modal.show{

 box-shadow: 0 0 10px blue;
 bottom: 0;
}



